@tailwind base;
@tailwind components;
@tailwind utilities;


p{
    margin-bottom: 1.5rem}

pre {
    margin: 1rem 0.5rem;
    padding: 1rem;
    white-space: pre-wrap;
}

pre code {
    background-color: #24292e;
}

code {
    background-color: #2d3748;
    padding: 0 0.3rem;
    color: #fff;
}

li {
    margin: 1rem 0;
}

.text-xl{
    font-size: 1.5em;
}

ol, ul, menu {
    display: block;
    list-style-type: disc;
    margin: 0 1rem;
}
